* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.body {
  /* background-color: transparent; */
}

.portfolio_container {
  background-color: #000;

  /* height: 5280px; */
}
a{
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.portfolio_header {
  /* display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    flex-direction: row;
    padding: 10% 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    opacity: .95;
    background-color: #000; */
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  opacity: 0.95;
  background-color: #000;
  height: 5rem;
  padding: 10px 10%;
}
.logo img {
  width: 140px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  /* padding-left: 61px; */
}
.logo img:hover {
  transition-timing-function: ease;
  transform: scale(1.1);
}
.nav-container ul li {
  margin: 10px 20px;
  display: inline-block;

  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  /* font-weight: 600; */
}
.nav-container ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  border: white 1px solid;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 18px;
  transition: 0.3s;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  position: relative;
}
.nav-container ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #fd8c22;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.nav-container ul li a:hover {
  color: white;
  background-color: #ef7e15;
}
.nav-container ul li a:hover::after {
  width: 100%;
}

/* ----------#section Home------------ */

.main_container {
  /* margin-top: 5rem; */
}
.container {
}
#home {
  padding-top: 45px;
}
.home-wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header-text {
  /* margin: 20%; */
  font-size: 30px;
  flex-basis: 40%;
}
.header-text h3 {
  font-size: 40px;
  font-weight: 500;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .4s;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
  font-weight: 500;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: .4s;
}
.header-text h1 span {
  color: #fd7e14;
}
.social-links {
  display: inline-flex;
  height: 3.5rem;
  align-items: center;
}
.social-links div {
 opacity: 0;
  transition: 0.3s;
  animation: slideLeft 0.5s ease forwards;
  animation-delay: calc(.2s * var(--i));
  position: relative;
}
.social-links svg {
  color: black;
  width: 40px;
  font-size: 40px;
  margin-right: 17px;
  cursor: pointer;
  vertical-align: middle;
  transition: transform .4s;
}
.social-links svg:hover {
  transform: translateY(-5px);
}

.linkedin svg path:hover {
  fill: #ef7e15 !important;
  cursor: pointer;
}
.twitter svg path:hover {
  fill: #fd7e15 !important;
  cursor: pointer;
}
.fb svg path:hover {
  fill: #ef7e15 !important;
  cursor: pointer;
}
.instagram svg path:hover {
  fill: #ef7e15 !important;
  cursor: pointer;
}
.portfolio-img {
  flex-basis: 40%;
  transition: transform 1.2s;
}
.portfolio-img img {
  max-width: 100%;
  border-top-left-radius: 40px;
  opacity: 0;
  animation: slideIn 2s ease forwards;
  animation-delay: .4s;
  border-bottom-right-radius: 40px;
}
.portfolio-img:hover {
  transition-timing-function: ease;
  transform: scale(1.1);
}

.hr {
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

/* ------------------section projects---------------- */

#projects {
}
.project-heading {
  display: flex;
  padding-top: 5rem;
  align-items: center;
  flex-direction: column;
}
.project-heading h2 {
  font-size: 35px;
  font-weight: 700;
  color: rgb(220, 220, 96);
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.project-heading p {
  font-size: 20px;
  font-weight: 500;
  color: rgb(220, 220, 96);
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}
.row {
}
.row-wrapper {
  padding-top: 5rem;
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.col-1 {
  margin-right: 60px;
}

.block-left {
  border: 0px solid yellow;
  width: 544px;
  height: 680px;
  background-color: #f5f527f7;
  /* margin-left: 135px; */
  border-radius: 16px;
  overflow: hidden;
  transition: transform 1.2s;
}
.block-left:hover {
  transition-timing-function: ease-in-out;
  transform: scale(1.1);
}

.block-left a {
  text-decoration: none;
}

.first-text-ifo {
  margin-left: 38px;
  margin-top: 30px;
}
.first-text-ifo p {
  color: #aa9009;
  opacity: 0.75;
  font-size: 30px;
  font-weight: 700;
}
.first-text-ifo h3 {
  font-size: 35px;
  font-weight: 700;
  color: #272020;
  line-height: 1.2;
}
.project-image {
}
.img-p-1 {
  margin-left: 30px;
  margin-top: 105px;
}

.block-left2 {
  border: 0px solid #9cd8d5;
  width: 544px;
  height: 650px;
  overflow: hidden;
  /* margin-left: 135px; */
  margin-top: 38px;
  background-color: #9cd8d5;
  border-radius: 16px;
  transition: transform 1.2s;
}
.block-left2:hover {
  transition-timing-function: ease-in-out;
  transform: scale(1.1);
}

.block-left2 a {
  text-decoration: none;
}

.text-mempad {
  margin-left: 38px;
  margin-top: 30px;
}
.text-mempad p {
  color: #fff;
  opacity: 0.75;
  font-size: 30px;
  font-weight: 700;
}
.text-mempad h3 {
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
}
.img-p-2 {
  position: relative;
  /* margin-left: 48px;
    margin-top: 50px; */
}
.block-left3 {
  border: 0px solid #a43ba4;
  width: 544px;
  height: 650px;
  /* margin-left: 135px; */
  margin-top: 38px;
  background-color: #a43ba4;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 1.2s;
}
.block-left3:hover {
  transition-timing-function: ease-in-out;
  transform: scale(1.1);
}

.block-left3 a {
  text-decoration: none;
}
.text-educate {
  margin-left: 38px;
  margin-top: 30px;
  padding-top: 5px;
}
.text-educate p {
  color: #fff;
  opacity: 0.75;
  font-size: 30px;
  font-weight: 700;
}
.text-educate h3 {
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
}
.img-p-3 {
  padding: 19px;
}
.col-2 {
  margin-left: 60px;
}

.block-right {
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid #3d4042;
  border-radius: 12px;
  width: 544px;
  height: 184px;
  /* margin-left: 118px; */
  margin-top: 35px;
  background-color: #3d4042;
}
.block-right2 {
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid #3d4042;
  border-radius: 12px;
  width: 544px;
  height: 184px;
  /* margin-left: 118px; */
  margin-top: 47px;
  background-color: #3d4042;
}
.qoute {
  padding: 3rem;
  color: #fff;
  padding: 40px;
  line-height: 2;
  padding-left: 56px;
}
.qoute i {
  margin: 150px;
}
.block-right3 {
  border: 0px solid #fd7e14;
  width: 550px;
  overflow: hidden;
  height: 650px;
  /* margin-left: 118px; */
  margin-top: 30px;
  border-radius: 16px;
  background-color: #fd7e14;
}
.block-right3 a {
  text-decoration: none;
}
.text-polkadot {
  margin-left: 38px;
  margin-top: 30px;
}
.block-right3 p {
  color: #fff;
  opacity: 0.75;
  font-size: 30px;
  font-weight: 700;
}
.block-right3 h3 {
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
}
.img-p-4 img {
  padding-left: 28px;
}

.block-right4 {
  border: 0px solid #20c997;
  border-radius: 16px;
  width: 550px;
  height: 669px;
  /* margin-left: 120px; */
  margin-top: 30px;
  background-color: #20c997;
  overflow: hidden;
  transition: transform 1.2s;
}
.block-right4 a {
  text-decoration: none;
}
.block-right4:hover {
  transition-timing-function: ease-in-out;
  transform: scale(1.1);
}

.text-brt {
  margin-left: 38px;
  margin-top: 30px;
}
.text-brt p {
  color: #fff;
  opacity: 0.75;
  font-size: 30px;
  font-weight: 700;
}
.text-brt h3 {
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
}

/* ---------------------services style--------------------- */

#services {
  /* background-color: #fff; */
}

#services h3 {
  margin-bottom: 2rem;
  color: #fff;
  margin-top: 0;
  /* margin-bottom: 0.5rem; */
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}

#services p {
  margin: 0;
  color: #89878b;
  font-weight: 500;
  font-size: 22px;
}

.services-heading {
  display: flex;
  padding-top: 5rem;
  align-items: center;
  flex-direction: column;
}
.services-heading h2 {
  font-size: 35px;
  font-weight: 700;
  color: rgb(220, 220, 96);
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.web-mob {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.web-mob {
  padding: 5rem 0;
}
.web img {
  width: 60px;
  height: 60px;
  margin-bottom: 0.5rem;
  /* margin-left: 70px; */
}

.mob-img img {
  margin-bottom: 1rem;
  width: 60px;
  height: 60px;
  margin-left: 50px;
}

/* skills styling */

#skills {
}

.skills-heading {
  display: flex;
  padding-top: 5rem;
  align-items: center;
  flex-direction: column;
}

.skills-heading h2 {
  font-size: 35px;
  font-weight: 700;
  color: rgb(220, 220, 96);
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.skills-heading p {
  font-size: 20px;
  font-weight: 500;
  color: rgb(220, 220, 96);
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}

.margin {
  padding-top: 4.5rem;
}
.skills-and-tools {
  /* background-color: #fff; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
}

/* .skills-and-tools:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
} */
.tool-box {
  width: 150px;
  height: 140px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #312f2f;
  border: 1px solid rgba(92, 90, 90, 0.11);
  border-radius: 5px;
  transition: background 0.5s, transform 0.5s;
}
.tool-box:hover {
  background: #fd7e14;
  transform: translateY(-10px);
}

.skill-img {
  height: 4.5rem;
}
.skill-img img {
  width: 4.5rem;
  height: 4rem;
}

/* ------------contact styling---------------- */

#contact {
  /* background-color: #fff; */
}
.row-contact-wrapper {
  display: flex;
  padding: 10rem 0;
  justify-content: space-between;
}

.col1 h2 {
  font-weight: 700;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: #fff;
}

.col1 {
  margin-left: 118px;
}
.col1 p {
  font-size: 20px;
  color: #fd8c22;
}

.button-box {
  border: 0px solid orange;
  width: 186px;
  height: 50px;
  border-radius: 25px;
  background-color: orange;
  margin-top: 12px;
  margin-top: 15px;
  transition: background-color 1.2s;
  cursor: pointer;
}

.button-box:hover {
  background-color: #a43ba4;
}

.button-box p {
  text-align: center;
  color: #fff;
  padding: 12px;
}

.col-sec {
  margin-right: 118px;
  padding: 1rem 0;
}
.col-sec p {
  color: #fff;
  /* text-align: center; */
  /* padding: 12px; */
  /* text-align: right; */
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
}

/* -----------Footer styling---------------- */

.footer-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-size: 20px;
}
.footer-box p {
  color: #fff;
}
.heart {
  margin-left: 5px;
  color: red;
}

/* ---------@media-queries---------- */
/* @media screen and (max-width:1151px) {
    .col-1{
        margin-right: 0px;
    }
} */
@media screen and (max-width: 1215px) {
  .col-2 {
    /* margin-left: 0px; */
  }
}

@media screen and (max-width: 806px) {
  .nav-container ul {
    display: none;
  }
}

@media screen and (max-width: 653px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    opacity: 0.95;
    background-color: #000;
    height: 5rem;
    padding: 10px 10%;
  }

  .block-left {
    width: auto;
  }
  .img-p-1 img {
    max-width: 100%;
  }
  .block-left2 {
    width: auto;
  }
  .img-p-2 img {
    max-width: 100%;
  }
  .block-left3 {
    width: auto;
  }
  .img-p-3 img {
    max-width: 100%;
  }

  .block-right {
    width: auto;
  }
  .block-right2 {
    width: auto;
  }
  .block-right3 {
    width: auto;
  }
  .img-p-4 img {
    max-width: 100%;
  }
  .block-right4 {
    width: 100%;
  }
  .img-p-5 img {
    max-width: 100%;
  }

  .col-1 {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    /* margin-left: 118px; */
  }
  .col-2 {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    /* display: block; */
  }

  .row-contact-wrapper {
    /* display: none; */
    display: flex;
    flex-direction: column;
  }

  .col-sec {
    margin-left: 118px;
  }
  .home-wrapper {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .header-text {
    /* margin: 20%; */
    font-size: 10px;
    flex-basis: 40%;
  }
  .header-text h3 {
    font-size: 20px;
    font-weight: 500;
  }
  .header-text h1 {
    font-size: 25px;
    margin-top: 20px;
    font-weight: 500;
  }
  .portfolio-img {
    flex-basis: 60%;
    transition: transform 1.2s;
  }
  .mob {
    margin-top: 50px;
  }
}

/* ----------------small mob------------ */
@media screen and (max-width: 450px) {
  .block-right {
    height: auto;
  }
  .qoute i {
    margin: 0px;
  }

  .block-right2 {
    height: auto;
  }
}

/* display: flex;
        flex-direction: column;
        box-sizing: border-box;
        position: fixed; */
/* overflow: hidden;
    } */

/* @media screen and (max-width:786px){
    .portfolio-wrap{
        display: block;
        position: relative;
        top: 0;
        left: 8rem;
    }
} */

/* @media screen and (max-width:786px) {
    .portfolio_header{
        display: flex;
        padding: 0 3rem;
    }
}
@media screen and (max-width:786px) {
    .nav-container ul{
        display: flex;
        margin-left: -45px;
    }
}
@media screen and (max-width:768px) {
    .nav-menu-wrapper{
        margin: 121px;
    }
} */

/* @media screen and (max-width:786px) {
    .main_container{
        display: block;
    }
} */

/* @media screen and (max-width:786px){
    .portfolio_intro{
        flex: 0 0 auto;
        width: 50%;
    }
}

@media screen and (max-width:786px) {
    .home_row{
        display: flex;
        margin-right: 900px;
        margin-left: 18px;
        flex-direction: column;
        
    }
}
 */

/* -------------desktop&laptop--------- */

/* @media screen and (max-width:1445px) {
    #home{
        display: block;
    }
}

@media screen and (max-width:1445px) {
    .project-flex{
        display: block;
    }
}

 */

/* -----------------mobile---------------- */

/* @media screen and (max-width:412px) {
    .portfolio_header{
        display: flex;
        flex-direction: column;
        padding: 0 0;
    }
    .nav-menu-wrapper{
        margin: 0;
    }
    .nav-container ul{
        display: flex;
        flex-direction: column;
        margin: 0px;
        margin-left: 17rem;
    }
    .portfolio-wrap{
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 0;
        left: 0;
    }
    .portfolio-img img{
        width:370px;
        margin-top: 25px;
    }
    .block-left{
        margin-left: auto;
        margin-right: auto;
        width:380px;
    }
    .block-left2{
        margin-left: auto;
        margin-right: auto;
        width:380px;
    }
    .block-left3{
        margin-left: auto;
        margin-right: auto;
        width:380px;
    }
    .block-right{
        width: 379px;
        height: 233px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }
    .block-right2{
        width: 379px;
        height: 233px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    .block-right3{
        margin-left: auto;
        margin-right: auto;
        width:380px;
    }
    .block-right4{
        margin-left: auto;
        margin-right: auto;
        width:380px;
    }
    .border{
        margin-left: 30px;
    }
    .border2{
        margin-left: 30px;
    }

    .mob{    
    margin-left: 62px;
    margin-top: 50px;
}
    }





 */

/* ----------------tablets&ipads----------- */

/* @media screen and (min-width:785px) and (max-width:909px){
    .portfolio-wrap{
        display: block;
    }
}

@media screen and (min-width:909px) and (max-width:998px) {
    .portfolio_container{
        overflow: hidden;
    }
} */

/* animations */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}